# ------------------------------
# Node / Typescript
# ------------------------------
node_modules/
dist/
build/
*.log
*.tmp
*.cache
*.swp
*.bak
*.old

# ------------------------------
# Environment & system files
# ------------------------------
.env
.env.*
.DS_Store
Thumbs.db

# IDE / Editor files
.idea/
.vscode/

# ------------------------------
# Playwright
# ------------------------------
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
trace.zip
auth.json

# ------------------------------
# OS-specific or misc
# ------------------------------
logs/
coverage/
